.header {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  color: #0085ad;
  font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #0085ad;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  cursor: pointer;
}